apiVersion: v1
kind: Service
metadata:
  name: redis-sentinel
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
    component: sentinel
spec:
  type: ClusterIP
  ports:
  - port: 26379
    targetPort: 26379
    name: sentinel
  selector:
    app: redis
    component: sentinel
